.form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 10px;
}

.form input,
.form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
